* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    height: 100vh;
}

.canvas-wrapper {
    height: 100vh;
    background-color: #262626;
}

.canvas {
    background-image: url("/assets/checkers.png");
    background-repeat: repeat;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: black;  */
}


.drag-header {
    cursor: move;
    z-index: 10;
    background-color: #222222;
}
.controller {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    bottom: 0px;
    left: 25%;
}
.tool-bar {
    top: 25%;
    right: 0px;
    position: absolute;
    border: 1px solid #d3d3d3;
}
